# joe made this: https://goel.io/joe

#####=== C++ ===#####

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/sqlite*
src/shell.c
src/easylogging++.h
src/bin
src/logs
*.plist
*.swp

src/game.dSYM
debug

brick.jpg
grain.jpg
lumber.jpg
ore.jpg
wool.jpg

button_black.jpg

characters/
